// .instructor-1 {
//   max-width: 90%;
//   text-align: center;
//   background-image: url('../../images/instructor1.png');
//   background-repeat: no-repeat;
//   background-position: center;
// }
  .logo {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-content: center;
    padding-top: 5%;
  }

  .welcome-message {
    Padding-top: 1%;
    Padding-left: 1%;
    text-align: center;
  }
